<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Department</title>


</head>
<body>
  <%- include ('./partials/homeNavbar.ejs') %>

  <h1 style="text-align: center; margin:30px 0px;"><i>Departments</i></h1>

  <div class="text-right mr">
 <!--This to call function for add department-->
   <button id="admin"   class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><b>Add</b></button>
    
  </div>

<%if(data.success)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-success"><%=data.success%></p>
<% }%>
<%if(data.error)
{
    console.log('data',data) %>
    <p  style="margin-top: 20px;"  id="msg" class="alert alert-danger"><%=data.error%></p>
<% }%>
  <div id="view">
    <div class="container">
    <table class="table table-striped tbl-class">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Department Name</th>
          <th scope="col">Department Description</th>
        </tr>
      </thead>
      <tbody>
            <!---This code is used to check if there is values in category then render it on browser-->

    <%  if(data.department.length) 
    {
     console.log('department',data) 
    for(var i=0;i < data.department.length ; i++) { %>

      <tr>
        <th scope="row"><%= i+1  %></th>
        <td><%= data.department[i].name %></td>
        <td><%= data.department[i].description %></td>
      </tr>
      <% } } %>
      </tbody>
    </table>
  </div>

    
  </div>
  
<!--  modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/department/" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new department</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

        <div  class="form-group  ">
          <label>Name</label>
          <input   type="text" class="form-control" name="name"  
            placeholder="Enter Department name">
        </div>

          <div  class="form-group ">
            <label>Statement</label>
            <textarea type="text" class="form-control" name="description"  
              placeholder="Enter Description"></textarea>
          </div>

          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
  </div>
</div>
<!--  modal-->

</body>
<%- include ('./partials/footer.ejs') %>
</html>